// TODO find a way to globally import this file app-wide without having to repeat it every time

// Constants
$primary-background: #59201C;
$secondary-background: #A36D33;
$light-foreground: #F2D394;
$main-color: #D46D44;
$call-to-action: #ffc700;

$dark-text: #200604;
$light-text: #eceae2;
