@import '../constants/colors.scss';

.header {
  display: flex;
  justify-content: space-between;
  padding: 15px 0;

  nav {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    ul {
      display: flex;
      justify-content: flex-end;

      li a {
        display: block;
        margin: 0 10px;
        height: 18px;

        font-size: 12px;
        font-weight: 700;
        text-transform: uppercase;

        &.active {
          border-bottom: 3px solid $dark-text;
        }
      }
    }
  }
}
