@import '../constants/colors.scss';

.hero {
  display: flex;
  justify-content: space-between;

  padding: 40px 140px;
  height: 500px;
  background-color: $main-color;

  clip-path: polygon(0 0, 100% 0, 100% 60%, 0 100%);

  .hero-text {
    padding-top: 15px;
    max-width: 350px;
    color: white;

    h2, p {
      margin-bottom: 20px;
      font-size: 14px;
      line-height: 22px;

      &.fancy-title {
        text-transform: capitalize;
        font-size: 34px;
      }

      &.definition-text {
        font-family: 'Literata', serif;
      }
    }
  }

  .button {
    margin-top: 25px;

    a {
      border: 0;
      background-color: $call-to-action;
    }
  }
}
