@import '../constants/colors.scss';

.assembly-perspective-view {
  position: relative;
  width: 100%;
  max-width: 300px;

  &.dynamic:hover svg, &.open svg {
    &.spreader {
      top: 160px;
    }

    &.basket {
      top: 155px;
    }

    &.ring {
      top: 240px;
    }

    &.bottom {
      top: 255px;
    }
  }

  svg {
    display: block;

    &.top {
      position: absolute;
      z-index: 6;
      width: 150px;
      top: 0;
      left: 0;
    }

    &.spreader {
      position: absolute;
      z-index: 4;
      top: 135px;
      left: 30px;
      width: 99px;

      transition: top 0.7s ease-in-out;
    }

    &.basket {
      position: absolute;
      z-index: 3;
      top: 108px;
      left: 29px;
      width: 99px;

      transition: top 0.7s ease-in-out;
    }

    &.ring {
      position: absolute;
      z-index: 2;
      top: 140px;
      left: 30px;
      width: 96px;

      transition: top 0.7s ease-in-out;
    }

    &.bottom {
      position: absolute;
      z-index: 5;
      top: 140px;
      left: 14px;
      width: 129px;

      transition: top 0.7s ease-in-out;
    }
  }
}
