button.button.basic, .basic.basic a {
  padding: 8px;
  cursor: pointer;
  border: 1px solid;
  border-radius: 50px;

  transition: background-color 0.3s ease-in-out;

  &:hover {
    background-color: black;
  }
}
